In [72]:
import pandas as pd
df=pd.read_csv("D:\\data analytics\\EAPCET prediction\\preprocessed data.csv")

In [73]:
df.head()

,Gender,State,District,region,Intermediate_marks,Eamcet year,eamcet marks,status,Eamcet rank,Allotted college,Branch
0,1.0,Andhra Pradesh,Krishna,Middle Andhra,989.0,2020.0,124.0,1.0,705,JNTUK COLLEGE OF ENGG. KAKINADA,CSE
1,1.0,Andhra Pradesh,East Godavari,Middle Andhra,988.0,2020.0,117.0,1.0,1300,JNTUK COLLEGE OF ENGG. KAKINADA,CSE
2,1.0,Andhrapradesh,East Godavari,Middle Andhra,954.0,2020.0,111.0,1.0,1501,NaN,
3,0.0,Andhrapradesh,East Godavari,Middle Andhra,987.0,2020.0,110.0,1.0,1570,JNTUK COLLEGE OF ENGG. KAKINADA,ECE
4,1.0,Andhrapradesh,Visakhapatnam,North Andhra,987.0,2020.0,109.0,1.0,1578,GAYATHRI VIDYA PARISHAD COLL. OF ENGINEERING,CSE

In [74]:
inputs = df.drop(['Gender','State','Eamcet year','Eamcet rank','eamcet marks','Allotted college','Branch','status'],axis='columns')
target = df['status']
#df=df.dropna()

In [75]:
#inputs.head()
inputs.tail()

           District        region  Intermediate_marks
2476     Srikakulam  North Andhra               398.0
2477       Chittoor   Rayalaseema               700.0
2478  Visakhapatnam  North Andhra               396.0
2479         Guntur  South Andhra               396.0
2480            NaN                               NaN

In [76]:
target

0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
       ...
2476    0.0
2477    0.0
2478    0.0
2479    0.0
2480    NaN
Name: status, Length: 2481, dtype: float64

In [77]:
target=target.dropna()

In [79]:
target.tail()

2475    0.0
2476    0.0
2477    0.0
2478    0.0
2479    0.0
Name: status, dtype: float64

In [80]:
from sklearn.preprocessing import LabelEncoder

In [81]:
le_District = LabelEncoder()
le_region = LabelEncoder()
#le_Intermediate_marks = LabelEncoder()
le_status = LabelEncoder()

In [82]:
inputs['District_n'] = le_District.fit_transform(inputs['District'])
inputs['region_n'] = le_region.fit_transform(inputs['region'])
#inputs['Intermedite_marks_n'] = le_Intermediate_marks.fit_transform(inputs['Intermediate_marks'])
df['status_n'] = le_status.fit_transform(df['status'])

In [83]:
inputs.head()

        District         region  Intermediate_marks  District_n  region_n
0        Krishna  Middle Andhra               989.0           4         1
1  East Godavari  Middle Andhra               988.0           2         1
2  East Godavari  Middle Andhra               954.0           2         1
3  East Godavari  Middle Andhra               987.0           2         1
4  Visakhapatnam   North Andhra               987.0           9         2

In [84]:
inputs_n = inputs.drop(['District','region'],axis='columns')
#target2 = df['status_n']

In [85]:
#inputs_n.head()
inputs_n.tail()

      Intermediate_marks  District_n  region_n
2476               398.0           8         2
2477               700.0           1         3
2478               396.0           9         2
2479               396.0           3         4
2480                 NaN          14         0

In [86]:
inputs_n=inputs_n.dropna()

In [87]:
inputs_n.tail()

      Intermediate_marks  District_n  region_n
2475               399.0           6         4
2476               398.0           8         2
2477               700.0           1         3
2478               396.0           9         2
2479               396.0           3         4

In [88]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [89]:
#now training the model
model.fit(inputs_n,target)

DecisionTreeClassifier()

In [91]:
model.score(inputs_n,target)

0.9939516129032258

In [111]:
model.predict([[487,6,1]])

C:\Users\heman\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1.])

In [114]:
model.predict([[500.0,9,2]])

C:\Users\heman\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1.])