In [56]:
import pandas as pd
data=pd.read_csv("D:\\data analytics\\EAPCET prediction\\preprocessed data.csv")

In [57]:
#data.head()
data.tail()

,Gender,State,District,region,Intermediate_marks,Eamcet year,eamcet marks,status,Eamcet rank,Allotted college,Branch
2476,0.0,Andhrapradesh,Srikakulam,North Andhra,398.0,2022.0,10.0,0.0,Not qualified,Not qualified,Not qualified
2477,0.0,Andhrapradesh,Chittoor,Rayalaseema,700.0,2022.0,10.0,0.0,Not qualified,Not qualified,Not qualified
2478,1.0,Andhrapradesh,Visakhapatnam,North Andhra,396.0,2022.0,7.0,0.0,Not qualified,Not qualified,Not qualified
2479,1.0,Andhrapradesh,Guntur,South Andhra,396.0,2022.0,3.0,0.0,Not qualified,Not qualified,Not qualified
2480,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
data=data.dropna()
inputs = data.drop(['Gender','State','Eamcet year','Eamcet rank','eamcet marks','Allotted college','Branch','status'],axis='columns')
target = data['status']

In [59]:
inputs.head()

        District         region  Intermediate_marks
0        Krishna  Middle Andhra               989.0
1  East Godavari  Middle Andhra               988.0
3  East Godavari  Middle Andhra               987.0
4  Visakhapatnam   North Andhra               987.0
5   Vizianagaram   North Andhra               985.0

In [60]:
from sklearn.preprocessing import LabelEncoder

In [61]:
le_District = LabelEncoder()
le_region = LabelEncoder()
#le_Intermediate_marks = LabelEncoder()
#le_status = LabelEncoder()

In [62]:
inputs['District_n'] = le_District.fit_transform(inputs['District'])
inputs['region_n'] = le_region.fit_transform(inputs['region'])
#inputs['Intermedite_marks_n'] = le_Intermediate_marks.fit_transform(inputs['Intermediate_marks'])
#data['status_n'] = le_status.fit_transform(data['status'])

In [63]:
#inputs.head()
inputs.tail()

           District        region  Intermediate_marks  District_n  region_n
2475        Nellore  South Andhra               399.0           6         3
2476     Srikakulam  North Andhra               398.0           8         1
2477       Chittoor   Rayalaseema               700.0           1         2
2478  Visakhapatnam  North Andhra               396.0           9         1
2479         Guntur  South Andhra               396.0           3         3

In [64]:
inputs_n = inputs.drop(['District','region'],axis='columns')
target2 = data['status']

In [65]:
target2

0       1.0
1       1.0
3       1.0
4       1.0
5       1.0
       ...
2475    0.0
2476    0.0
2477    0.0
2478    0.0
2479    0.0
Name: status, Length: 2464, dtype: float64

In [66]:
inputs_n.head()

   Intermediate_marks  District_n  region_n
0               989.0           4         0
1               988.0           2         0
3               987.0           2         0
4               987.0           9         1
5               985.0          10         1

In [67]:
from matplotlib import pyplot as plt

In [68]:
%matplotlib inline

In [69]:
from sklearn.model_selection import train_test_split

In [52]:
#x=data.drop([1,2,3,4,8,9,11,12,13,5,10],axis='columns')
#x.head()

In [53]:
#x.drop(x.index[0])

In [54]:
#y=data[10]

In [70]:
X_train,X_test,Y_train,Y_test=train_test_split(inputs_n,target2,test_size=0.2,random_state=42)
#y_pred=model.predict(X_test)

In [71]:
X_train

      Intermediate_marks  District_n  region_n
1389               636.0          11         0
912                957.0           6         3
1953               734.0           1         2
1339               686.0           8         1
2009               912.0           5         2
...                  ...         ...       ...
1652               400.0           5         2
1107               872.0           9         1
1142               842.0          10         1
1308               719.0           3         3
867                884.0          10         1

[1971 rows x 3 columns]

In [72]:
Y_train

1389    1.0
912     1.0
1953    1.0
1339    1.0
2009    1.0
       ...
1652    0.0
1107    1.0
1142    1.0
1308    1.0
867     1.0
Name: status, Length: 1971, dtype: float64

In [73]:
len(X_train)

1971

In [74]:
len(X_test)

493

In [79]:
from sklearn.svm import SVC
model=SVC()
#y_pred=model.predict(X_test)

In [80]:
from sklearn.metrics import mean_squared_error
#rmse =float(format(np.sqrt(mean_squared_error(Y_test,y_pred)), '.3f'))
#print(rmse)

In [81]:
model.fit(X_train,Y_train)

SVC()

In [82]:
model.score(X_test,Y_test)

0.9797160243407708

In [86]:
model.predict([[756,2,1]])

C:\Users\heman\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

array([1.])